<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', path='/scripts.js') }}"></script>
    <title>Browse Users</title>
</head>

<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>

    <!-- Sidebar -->
    <div class="w3-sidebar w3-light-grey w3-bar-block w3-card-4" style="width:15%">
        <h3 class="w3-bar-item w3-blue">Patient Profile</h3>
        <a id="sidebar-button" onclick="openProfileTab('Dashboard')"
            class="w3-bar-item w3-button w3-border-bottom">Dashboard</a>
        <a id="sidebar-button" onclick="openProfileTab('Journal')"
            class="w3-bar-item w3-button w3-border-bottom">Journal</a>
        <a id="sidebar-button" onclick="openProfileTab('Polls')"
            class="w3-bar-item w3-button w3-border-bottom">Polls</a>
        <a id="sidebar-button" onclick="openProfileTab('Fundraising')"
            class="w3-bar-item w3-button w3-border-bottom">Fundraising</a>
        <br>
        <h3 class="w3-bar-item w3-light-grey w3-border-bottom">Social Media</h3>
        <a id="sidebar-button" onclick="openProfileTab('Twitter')"
            class="w3-bar-item w3-button w3-border-bottom">Twitter</a>
        <a id="sidebar-button" onclick="openProfileTab('Youtube')"
            class="w3-bar-item w3-button w3-border-bottom">Youtube</a>
        <a id="sidebar-button" onclick="openProfileTab('TikTok')"
            class="w3-bar-item w3-button w3-border-bottom">TikTok</a>
        <div id="logged_in_user_box" class="w3-panel w3-display-bottomleft w3-card-4" style="height:20%;width:80%;margin-left:10%;">
            <p>
                Logged in as:
            </p>
        </div>
    </div>
    </div>

    <!-- Topbar -->
    <div class="w3-bar w3-blue" style="margin-left:15%">
        <button class="w3-bar-item w3-button w3-border-right" onclick=load_users_page()>All
            Users</button>
        <button class="w3-bar-item w3-button w3-border-right" onclick="document.location='profile_page.html'">My
            Profile</button>

        <button class="w3-bar-item w3-button w3-border-left" style="float:right;margin-right:15%;"
            onclick='logout()'>Logout</button>
    </div>

    <!-- Main Content -->
    <div id="Dashboard" class="w3-container profileTab" style="margin-left:15%">
        <h2>All Users Page</h2>
        <div id="all_users_data"></div>
    </div>

</body>

</html>